.login{
    display: flex;
    flex-direction: column;
    width: 600px;
    background: #06baa8;
    padding: 10px;
    margin: auto;
    opacity: 0.8;
    align-items: center;
    margin-top: 50px;
}
.login>h1{
    color: whitesmoke;
    line-height: 2px;
}
.login>input{
    margin: auto;
    opacity: 0.8;
    min-height: 30px;
}
.login>h3{
    line-height: 2px;
    font-size: large;
    font-weight: 400;
}
.login>h5>span{
    color: orangered;
}
.login>h5{
    font-size: small;
    font-weight: 400;
    opacity: 0.7s;
    margin-right: 100px;
    line-height: 2px;
}
.login>h4{
    font-size: small;
    font-weight: 400;
}
.header{
    display: flex;
    margin-top: auto;
}
.header>span{
    float: right;
    margin-top: 60px;
    margin-left: 20px;
    align-items: center;
}